@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<!-- Hero -->
<section class="hero" id="inicio">
    <div class="container">
        <h1>Joyas únicas para momentos inolvidables</h1>
        <p>Descubre nuestra nueva app web y encuentra las piezas más exclusivas.</p>
        <a asp-page="/Auth/Index" class="btn btn-primary btn-dark">Explorar ahora</a>
    </div>
</section>
