@page
@model JewelleryStore.Pages.Modules.Suppliers.CreateModel

@{
    ViewData["Title"] = "Crear proveedor";
}

<h1>Crear nuevo proveedor</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Proveedores.NombreProveedor" class="control-label"></label>
                <input asp-for="Proveedores.NombreProveedor" class="form-control" />
                <span asp-validation-for="Proveedores.NombreProveedor" class="text-danger"></span>
            </div>
            <br /> 
            <div class="form-group">
                <label asp-for="Proveedores.TelefonoProveedor" class="control-label"></label>
                <input asp-for="Proveedores.TelefonoProveedor" class="form-control" />
                <span asp-validation-for="Proveedores.TelefonoProveedor" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Proveedores.DireccionProveedor" class="control-label"></label>
                <input asp-for="Proveedores.DireccionProveedor" class="form-control" />
                <span asp-validation-for="Proveedores.DireccionProveedor" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary btn-dark" />
                <a class="btn btn-light btn-secondary" asp-page="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
