<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JewelleryStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/JewelleryStore.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>

    <header style="margin: 5%">
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container">
                <a class="navbar-brand fw-bold text-dark" asp-page="/Index">💎 Eleganza</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" asp-page="/Modules/Index" >Entrada de datos</a></li>
                        <li class="nav-item"><a class="nav-link" asp-page="/Modules/Index">Procesos</a></li>
                        <li class="nav-item"><a class="nav-link" asp-page="/Modules/Index">Reportes</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main role="main" class="py-lg-5">
        <div class="container">
            @RenderBody()
        </div>
    </main>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Eleganza
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>