@page
@model JewelleryStore.Pages.Auth.RegisterModel
@{
    ViewData["Title"] = "Registro de usuarios";
}
<h2>Registar nuevo usuario</h2>

<form method="post" novalidate>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Usuario">Usuario</label>
        <input asp-for="Usuario" class="form-control" />
        <span asp-validation-for="Usuario" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Contrasena">Contraseña</label>
        <input asp-for="Contrasena" type="password" class="form-control" />
        <span asp-validation-for="Contrasena" class="text-danger"></span>
    </div>

    <br />

    @Html.AntiForgeryToken()
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-dark">Registrar</button>
    </div>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-info">@Model.Message</div>
}